
                        <hr />
                        <h2>{{ .Site.Data.params.contact.formTitle }}</h2>
                        <form method="post" action="//formspree.io/{{ with .Site.Data.params.email }}{{.}}{{ end }}">
                            <div class="field">
                                <input type="text" name="name" id="name" placeholder="{{ .Site.Data.params.contact.namePlaceholder }}" />
                            </div>
                            <div class="field">
                                <input type="email" name="email" id="email" placeholder="{{ .Site.Data.params.contact.emailPlaceholder }}" />
                            </div>
                            <div class="field">
                                <textarea name="message" id="message" placeholder="{{ .Site.Data.params.contact.messagePlaceholder }}" rows="4"></textarea>
                            </div>
                            <ul class="actions">
                                <li><button type="submit">{{ .Site.Data.params.contact.buttonText }}</button></li>
                            </ul>
                        </form>
                        <hr />
