<!--
    圖示：
        來源： http://www.easyicon.net/language.zh-tw/1205959-paper_clips_icon.html
        授權： CC BY-SA 3.0

    圖示教學：
        https://developer.mozilla.org/zh-CN/docs/Web/HTML/Element/link
        https://developer.mozilla.org/zh-CN/docs/Web/HTML/Link_types
        https://mathiasbynens.be/notes/touch-icons
        http://stackoverflow.com/questions/6121725/favicon-ico-or-png-correct-tags
-->
<link rel="icon" href="{{ .Site.Data.params.favicon.ico }}" type="image/x-icon" sizes="128x128" />
<link rel="icon" href="{{ .Site.Data.params.favicon.png }}" type="image/png" sizes="128x128" />

